<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cn_Requestquote::Requestquote" title="Requestquote" module="Cn_Requestquote" sortOrder="50" action="requestquote/requestquote" resource="Magento_Backend::content"/>
    </menu>
</config>



