<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <virtualType name="Ves\HelloWorld\Model\ResourceModel\Test\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ves_helloworld_test</argument>
            <argument name="resourceModel" xsi:type="string">Ves\HelloWorld\Model\ResourceModel\Test</argument>
        </arguments>
    </virtualType>
 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ves_helloworld_grid_data_source" xsi:type="string">Ves\HelloWorld\Model\ResourceModel\Test\Collection</item>
            </argument>
        </arguments>
    </type>
</config>

