<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	 <add id="Ves_HelloWorld::hello" title="Requestquote" module="Ves_HelloWorld" sortOrder="50" resource="Magento_Backend::content"/>

    	 <add id="Ves_HelloWorld::second_level_example"
             title="Mange Requestquote"
             module="Ves_HelloWorld"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Ves_HelloWorld::hello"
             action="helloworld/helloworld"
            />               
	      </menu>
</config>
